<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Actualizar C.E </title>
</head>
<body>
	<h1>ACTUALIZAR UN CENTRO ESCOLAR</h1>
	
	<form th:action="@{/actualizarCentroEscolar}" th:object="${escuelas}" method="POST">
		<div style="border: 1px solid black; padding:20px;">
		
		<label th:text="Nombre de Centro Escolar"></label><br/>
		<input type="text" placeholder="centro escolar" th:field="${escuelas.nombre_centro_escolar}"/><br/>
		
		<label th:text="Departamento"></label><br/>
		<input type="text" placeholder="departamento" th:field="${escuelas.id_departamento}"/><br/>
		
		<label th:text="Municipio"></label><br/>
		<input type="text" placeholder="municipio" th:field="${escuelas.id_municipio}"/><br/>
		
		<input type="submit" value="Guardar">  
	</form>


</body>
</html>