<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<form method="post" th:action="@{/paginaEscuela}" >
		<input type="submit" value="Centros escolares" class="btn btn-primary">
	</form><br>
	<form method="post" th:action="@{/paginaMateria}" >
		<input type="submit" value="Materias" class="btn btn-primary">
	</form><br>
	<form method="post" th:action="@{/paginaUsuario}" >
		<input type="submit" value="Usuario" class="btn btn-primary">
	</form>
</body>
</html>