<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<title>lista de Materias</title>
</head>
<body>
	
	<h2>Catalogo de Materias</h2> 
	
	<table>
		<thead>
			<th>Codigo</th>
			<th>Materia</th>
			<th>Opcion</th> 
		</thead>
		
		<th:block th:each="materia, row:${materia}"> 
			<tr>
				<th th:text="${materia.id_materia}"/>
				<th th:text="${materia.nombre_materia}"/>
				<th>
					<form method="post" th:action="@{/actualizarMateria2}">
					<input type="hidden" name="id_materia" th:value=${materia.id_materia} >
						<input type="submit" value="Editar">
					</form>
				</th>
			</tr>
		</th:block> 
	</table> 
	
	<br>
	
	<form th:action="@{/AgregarMateria}" method="post">
		<input type="submit" value="Agregar nueva Materia" class="btn btn-primary">
	</form>

</body>
</html>