<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Alumnos</title>
</head>
<body>
<table>
		<thead>
			<th>Acción</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Aprobadas</th>
			<th>Reprobadas</th>
			<th>Promedio</th>
		</thead>
		<th:block th:each="est, row:${estudiante}">
			<tr>
				<th>
					<form method="post">
						
						<input type="submit" value="est">
					</form>
					<form method="post" th:action="@{/mostrarnota}">
						<input type="hidden" name="id_estudiante" th:value=${est.id_estudiante} >
						<input type="submit" value="mat">
					</form>
				</th>
				<th th:text="${est.nombre1}">
				<th th:text="${est.apellido1}">
				<th th:text="${est.aprobados}">
				<th th:text="${est.reprobados}">
				<th>Prom</th>
			</tr>
		</th:block>
	</table>
</body>
</html>