<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Notas</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<H1 th:text="${est.nombre1}"></H1>
	<table>
		<thead>
			<th>Acción</th>
			<th>Materia</th>
			<th>Año</th>
			<th>Ciclo</th>
			<th>Nota</th>
			<th>Resultado</th>
		</thead>
		<th:block th:each="notas, row:${notas}">
			<tr>
				<th>
					<form method="post" th:action="@{/modificarNotas}">
						<input type="hidden" name="id_estudiante" th:value=${notas.id_estudiante} >
						<input type="submit" value="Editar materia" class="btn btn-info">
					</form>
				</th>
				<th th:text="${notas.materia.nombre_materia}">
				<th th:text="${notas.anno}">
				<th th:text="${notas.ciclo}">
				<th th:text="${notas.nota}">
				<th th:text="${notas.notaDelegate}">
			</tr>
		</th:block>
	</table>
	
</body>
</html>