<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Notas</title>
</head>
<body>
	
		<table>
			<thead>
				<th>Acción</th>
				<th>Materia</th>
				<th>Año</th>
				<th>Ciclo</th>
				<th>Nota</th>
				<th>Resultado</th>
			</thead>
			<th:block th:each="notas, row:${notas}">
				<tr>
					<th>
						<form method="post" th:action="@{/modificarNotas}">
							<input type="hidden" name="id_estudiante" th:value=${notas.id_estudiante} >
							<input type="submit" value="Editar materia">
						</form>
					</th>
					<th th:text="${notas.materia.nombre_materia}">
					<th th:text="${notas.anno}">
					<th th:text="${notas.ciclo}">
					<th th:text="${notas.nota}">
					<th th:text="${notas.notaDelegate}">
				</tr>
			</th:block>
		</table>
	
</body>
</html>