<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Expediente de alumno</title>
</head>

<body>

	<h1>Expediente de Alumno - Pantalla inicial</h1>

	<form th:action = "@{/insertExpediente}">
		<input type="submit" value="Agregar nuevo expediente">
	</form>
	
	<br>
	
	<form th:action = "@{/actualizarEstudiante}" method = "post">
		<label>Actualizar estudiante por codigo: </label>
		<input type="number" name="codigo">
		<br>
		<input type="submit" value="Actualizar">
	</form>
	
	<br>
	
	<div>
        <h3 th:text="${ExpedienteS}"></h3>
    </div>
    
    <div>
        <h3 th:text="${ExpedienteA}"></h3>
    </div>
	
</body>
</html>